.site-header{
  position: relative;
  z-index: 10;
  width: 100%;
  overflow: hidden;
  background: #FFFFFF;
  box-shadow: 0 1px 3px #1a1a1a1a;
  background-clip: content-box;
  .header-inner{
    display: flex;
    width: 1000px;
    height: 52px;
    padding: 0 16px;
    margin: 0 auto;
    align-items: center;
    .logo-img{
      width: 40px;
      cursor: pointer;
    }
    .navigation{
      display: flex;
      justify-content: space-between;
      height: 30px;
      margin: 0 18px 0 27px;
      color: #999999;
      .nav-item{
        text-align: center;
        padding: 0 15px;
        font-size: 15px;
        line-height: 30px;
        color: #8590A6;
        cursor: pointer;
        text-decoration: none;
        &:hover{
          color: #175199;
        }
      }
      .router-link-active{
        color: #175199;
      }
    }
  }
}